<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Seccion-Listado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body style="background-color: #E5E7E9">

    <header th:insert="fragments/header :: header-principal"></header>

    <br><br><br>
    <div class="container">
        <div class="card border-dark">
            <h4 class="card-header"><strong>Listado de Secciones por Grado Escolar</strong></h4>
            <div class="card-body">
                <a class="btn btn-dark" th:href="@{/seccion/create}" title="Ingresar Nueva Sección" role="button"><i
                        class="fas fa-file" aria-hidden="true"></i> Nuevo Sección</a>
                <hr>
                <div th:if="${msg!=null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Sección por Grado Escolar</th>
                            <th scope="col">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="seccion:${secciones}">
                            <th scope="row" th:text="${seccion.IDSEC}"></th>
                            <td th:text="${seccion.NOMSEC}"></td>
                            <td>
                                <a th:href="@{/seccion/edit/{id} (id=${seccion.IDSEC})}" class="btn btn-success btn-sm"
                                    role="button" title="Editar el registro."><i class="fas fa-pencil-alt"
                                        aria-hidden="true"></i></a>
                                <a th:href="@{/seccion/delete/{id} (id=${seccion.IDSEC})}"
                                    onclick="return confirm('¿Esta seguro?')" class="btn btn-danger btn-sm"
                                    role="button" title="Eliminar el registro."><i class="fas fa-trash"
                                        aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</body>

</html>