<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Control de Salud-Formulario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body style="background-color: #E5E7E9">

    <header th:insert="fragments/header :: header-principal"></header>

    <br><br><br>
    <div class="container col-md-8">
        <div class="card border-dark m-3">
            <h4 class="card-header"><strong>Control de Salud por Estudiante</strong></h4>
            <div class="card-body">
                <form th:action="@{/controles/save}" method="post" th:object="${control}">
                    <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                        Por favor corrija los siguientes errores:
                        <ul>
                            <li th:each="err:${#fields.errors('*')}" th:text="${err}" />
                        </ul>
                    </div>
                    <input type="hidden" th:field="*{IDCON}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="estudiante">DNI del Estudiante</label>
                                <select class="form-control" th:field="*{estudiante}">
                                    <option th:each="estudiante:${estudiantes}" th:value="${estudiante.DNIEST}"
                                        th:text="${estudiante.DNIEST}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="FECCON">Fecha del Control</label>
                                <input type="text" class="form-control" th:field="*{FECCON}" id="FECCON" name="FECCON"
                                    placeholder="Ingrese en formato dd/mm/aaaa" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PESCON">Peso</label>
                                <input type="text" class="form-control" th:field="*{PESCON}" id="PESCON" name="PESCON"
                                    placeholder="Ingrese Peso en Kilogramos." required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TALCON">Talla</label>
                                <input type="text" class="form-control" th:field="*{TALCON}" id="TALCON" name="TALCON"
                                    placeholder="Ingrese Talla en Metros." required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ALECON">Alergias del Estudiante</label>
                                <input type="text" class="form-control" th:field="*{ALECON}" id="ALECON" name="ALECON"
                                    placeholder="Ingrese Alergia(s)." required="required">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-grid gap-2 d-md-block text-center">
                        <a class="btn btn btn-dark" th:href="@{/controles/index}">Ver Lista</a>
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>