<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Matricula-Listado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body style="background-color: #E5E7E9">

    <header th:insert="fragments/header :: header-principal"></header>

    <br><br><br>
    <div class="container col-md-12">
        <div class="card border-dark">
            <h4 class="card-header"><strong>Listado de Matrículas Institucionales</strong></h4>
            <div class="card-body">
                <a class="btn btn-dark" th:href="@{/matriculas/create}" title="Crear Nueva Matrícula" role="button"><i
                        class="fas fa-file" aria-hidden="true"></i> Nueva Matrícula</a>
                <hr>
                <div th:if="${msg!=null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fecha de Matrícula</th>
                            <th scope="col">DNI Estudiante</th>
                            <th scope="col">Grado Escolar</th>
                            <th scope="col">Sección Escolar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="matricula:${matriculas}">
                            <th scope="row" th:text="${matricula.IDMAT}"></th>
                            <td th:text="${matricula.FECMAT}"></td>
                            <td th:text="${matricula.estudiante.DNIEST}"></td>
                            <td th:text="${matricula.grado.NOMGRAD}"></td>
                            <td th:text="${matricula.seccion.NOMSEC}"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br><br><br>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>